<div class="wrapper" >


<div id="snddesign">

    <div class="section-title" >
      <h2>Classes & Events</h2>
    </div>
    <div class="content" >
      <h3>What Is My Developer Building?</h3>
      <p class="class-time"> Monday, March 10 / 6:00 P. M. - 8:00 P.M.</p>

      <div class="class-explanation">
        <a class="orange-button float_right" href="/">Wait List></a>
        <div  class="explanation">
          What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. 
          <a  href="/">// More Details</a>
        </div>
      </div>
      <div class="class-dots"> &nbsp;</div>
      <h3>What Is My Developer Building?</h3>
      <p class="class-time"> Monday, March 10 / 6:00 P. M. - 8:00 P.M.</p>

      <div class="class-explanation">
        <a class="orange-button float_right" href="/">Wait List></a>
        <div  class="explanation">
          What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. 
          <a  href="/">// More Details</a>
        </div>
      </div>
      <div class="class-dots"> &nbsp;</div>
      <h3>What Is My Developer Building?</h3>
      <p class="class-time"> Monday, March 10 / 6:00 P. M. - 8:00 P.M.</p>

      <div class="class-explanation">
        <a class="orange-button float_right" href="/">Wait List></a>
        <div  class="explanation">
          What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. 
          <a  href="/">// More Details</a>
        </div>
      </div>
      <div class="class-dots"> &nbsp;</div>
      <h3>What Is My Developer Building?</h3>
      <p class="class-time"> Monday, March 10 / 6:00 P. M. - 8:00 P.M.</p>

      <div class="class-explanation">
        <a class="orange-button float_right" href="/">Wait List></a>
        <div  class="explanation">
          What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. What is taking so long? Novotorium is presenting a crash course in development principles to help you run your business more efficiently. 
          <a  href="/">// More Details</a>
        </div>
      </div>
      <div class="class-dots"> &nbsp;</div>
    <div>
        <div class="arrow" ></div>
        <div class="arrow_text"  >View all programs:</div>
         
        <div class="cleaner" ></div>
    </div>

    </div>




</div>


</div>
