<div class="wrapper" >


<div id="sndhome">
  <div class="legend" >
    <div class="legend-title">
      <h1>Your start-up is not like everyone else's.  </h1>
      <div class="dots"> &nbsp</div>
    </div>
  </div>

</div>




</div>
