
<div class="wrapper" >

<div id="snddesign">

  <div class="people">
    <div class="section-title" >
      <h2>In-House Team</h2>
    </div>

    <div class="content" >
      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_mike.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Mike Krupit
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_chuck.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Chuck Hall
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_alberto.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Alberto Janza
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>


      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_maria.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Maria Collins
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>

      <div class="cleaner" >
      </div>
    </div>

  </div>


  <div class="people" style="margin-top:30px;">
    <div class="section-title" >
      <h2>Partners</h2>
    </div>

    <div class="content" >
      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_anita.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Anita Andrews
        </div>
        <div class="role" >
          CEO, Septida <a  href="/">Bio</a>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_chariot.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Chariot Solutions
        </div>
        <div class="role" >
          <a  href="/">Bio</a>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_samantha.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Samantha Liss
        </div>
        <div class="role" >
          Samantha Liss Consulting<a  href="/">Bio</a>
        </div>
      </div>


      <div class="person" >
          <img src="/assets/server/wp-content/themes/simplicity/images/people_maria.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Frank Taney
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>

      <div class="cleaner" >
      </div>
    </div>

  </div>




</div>


</div>











