




<div class="wrapper" >


<div id="snddesign">

  <div class="people">
    <div class="section-title" >
      <h2>In-House Team</h2>
    </div>

    <div class="content" >
      <div class="person" >
        <div class="modal-wrapper" id="mike-bio" >
            <div class="modal-screen">
                <div class="modal-content modal-template">
                    <div class="close-icon"><a onclick="jQuery('#mike-bio').hide();; return false;" href="#"><span>x</span></a></div> 
                    <div class="bio-title">
                      Mike Krupit
                    </div>
                    <div class="bio-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </div>
                </div>
            </div>
        </div>


          <img src="/assets/server/wp-content/uploads/2011/10/people_mike.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Mike Krupit
        </div>
        <div class="role" >
          Role 
<%= link_to_function 'Bio', "jQuery('#mike-bio').show();" %>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/uploads/2011/10/people_chuck.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Chuck Hall
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/uploads/2011/10/people_alberto.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Alberto Janza
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>


      <div class="person" >
          <img src="/assets/server/wp-content/uploads/2011/10/people_maria.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Maria Collins
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>

      <div class="cleaner" >
      </div>
    </div>

  </div>


  <div class="people" style="margin-top:30px;">
    <div class="section-title" >
      <h2>Partners</h2>
    </div>

    <div class="content" >
      <div class="person" >
          <img src="/assets/server/wp-content/uploads/2011/10/people_anita.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Anita Andrews
        </div>
        <div class="role" >
          CEO, Septida <a  href="/">Bio</a>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/uploads/2011/10/people_chariot.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Chariot Solutions
        </div>
        <div class="role" >
          <a  href="/">Bio</a>
        </div>
      </div>

      <div class="person" >
          <img src="/assets/server/wp-content/uploads/2011/10/people_samantha.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Samantha Liss
        </div>
        <div class="role" >
          Samantha Liss Consulting<a  href="/">Bio</a>
        </div>
      </div>


      <div class="person" >
          <img src="/assets/server/wp-content/uploads/2011/10/people_maria.png" alt="Incubate_image">
          <div class="media_contact" >
              <a class="media_facebook" href="/"></a>
              <a class="media_twitter" href="/"></a>
              <a class="media_flickr" href="/"></a>
              <a class="media_linkedin" href="/"></a>
              <a class="media_google" href="/"></a>
          </div>
        <div class="cleaner" >
        </div>
        <div class="name" >
          Frank Taney
        </div>
        <div class="role" >
          Role <a  href="/">Bio</a>
        </div>
      </div>

      <div class="cleaner" >
      </div>
    </div>

  </div>




</div>


</div>











