<div class="wrapper" >


<div id="snddesign">
  <div class="program">
    <div class="section-title" >
      <h2><a href="/">Incubate</a></h2>
        
    </div>
    <div class="content" >
      <img src="/assets/server/wp-content/themes/simplicity/images/program_incubate_image.png" alt="Incubate_image">
      <div class="text">
        This copy should be similar to the homepage - either the left side (verbiage catered to the entrepener), or the right side (more program-specific verbiage). May be four to five lines long, and anything after will continue with the..</br>
        <a href="/">// Program Details</a>
      </div>
      <div class="cleaner" ></div>
    </div>
  </div>
  <div class="program-separator" >&nbsp;
  </div>
  <div class="program">
    <div class="section-title" >
      <h2><a href="/">Incubate</a></h2>
        
    </div>
    <div class="content" >
      <img src="/assets/server/wp-content/themes/simplicity/images/program_incubate_image.png" alt="Incubate_image">
      <div class="text">
        This copy should be similar to the homepage - either the left side (verbiage catered to the entrepener), or the right side (more program-specific verbiage). May be four to five lines long, and anything after will continue with the..</br>
        <a href="/">// Program Details</a>
      </div>
      <div class="cleaner" ></div>
    </div>
  </div>


  <div class="program">
    <div class="section-title" >
      <h2><a href="/">Incubate</a></h2>
        
    </div>
    <div class="content" >
      <img src="/assets/server/wp-content/themes/simplicity/images/program_incubate_image.png" alt="Incubate_image">
      <div class="text">
        This copy should be similar to the homepage - either the left side (verbiage catered to the entrepener), or the right side (more program-specific verbiage). May be four to five lines long, and anything after will continue with the..</br>
        <a href="/">// Program Details</a>
      </div>
      <div class="cleaner" ></div>
    </div>
  </div>
  <div class="program-separator" >&nbsp;
  </div>
  <div class="program">
    <div class="section-title" >
      <h2><a href="/">Incubate</a></h2>
        
    </div>
    <div class="content" >
      <img src="/assets/server/wp-content/themes/simplicity/images/program_incubate_image.png" alt="Incubate_image">
      <div class="text">
        This copy should be similar to the homepage - either the left side (verbiage catered to the entrepener), or the right side (more program-specific verbiage). May be four to five lines long, and anything after will continue with the..</br>
        <a href="/">// Program Details</a>
      </div>
      <div class="cleaner" ></div>
    </div>
  </div>


      <div class="cleaner" ></div>

      <div class="dots"> &nbsp;</div>

      <div class="legend" >
        "I have no idea how much I didn't know about building my business until I participated in Novotorium's Accelerate program. Since then, I've signed up for every class they've offered." <span class="blue"> - JOHN DOE, ABC BUSINESS</span>
      </div>
</div>


</div>
