// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body  { background-color:#15214b;font:normal 100% helvetica,arial,clean,sans-serif; color:black;margin:0; }

.wrapper{width:960px; margin: 0px auto; }

#sndhome .legend{color:white;}
#sndhome .legend{color:white;}
#sndhome .legend-title {margin-bottom:3px;}
#sndhome .legend-title h1{color:white;text-align:center; font:normal 100% American Typewriter;font-size:22px;margin:5px 0 0px 0;}
#sndhome .legend-title .dots{  background-image: url("dot.png"); width:497px;
background-repeat:repeat-x; margin: 0px auto;
}



#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
#sndhome {}
